name: lint

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Check lint & format with ruff
        run: |
          pip install ruff
          ruff check .
          ruff format --check .
