name: mike_stable

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[docs]
        env:
          GH_PAT: ${{ secrets.AUTH_TOKEN }}
      - name: Setup doc deploy
        run: |
          git config --global user.name Docs-deploy
          git config --global user.email docs@dummy.bot.com
      - name: Build docs and push with mike
        run: |
          version=$(pip show pytere | grep Version | cut -d ' ' -f 2)
          bversion=$(echo $version | cut -d '.' -f 1,2)
          mike deploy --push --update-aliases $bversion latest
          mike retitle --push latest $version
          mike set-default --push latest
