name: stale

on:
  schedule:
    - cron: "0 4 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6
        with:
          stale-issue-message: "This issue has been automatically marked as stale, because it had no recent activity. Please comment on this thread or remove the stale label if it's still active."
          stale-pr-message: "This PR has been automatically marked as stale, because it had no recent activity. Please comment on this thread or remove the stale label if it's still active."
          days-before-stale: 60
          days-before-close: 7
